[is=wiki-gallery] {
	div.thumbnails {
		margin:           0 60px 20px 60px;
		border:           1px solid #ddd;
		background-color: #f6f6f6;
		padding:          10px 10px;
		div{
			cursor: pointer;
			width: 116px;
			height: 116px;
			float:left;
			background-color:white;
			border:1px solid #ddd;
			margin: 5px;
			img{
				display: block;
				margin: 8px;
			}
		}
		overflow:hidden;
	}
	div.gallery-view{
		z-index: 10000;
		position: fixed;
		bottom: 0;
		right: 0;
		width: 0;
		height: 0;
		background-color: rgba(0, 0, 0, 0);
		transition: all .3s;
		div.next, div.prev, div.close{
			color: #ffffff;
			top: 50%;
			position: absolute;
			font-size: 48px;
			cursor: pointer;
			width: 60px;
			text-align: center;
			height: 60px;
			line-height: 60px;
			i{
				transition: all .3s;
				display: block;
				line-height: 60px;
				border-radius: 30px;
				width: 60px;
			};
			&:hover i{
				transform: rotate(360deg);
			}
		}
		div.close{
			top:30px;
			right: 30px;
			font-size:24px;
			background-color:black;
			border-radius: 30px;
		}
		div.next{
			right: 30px;
		}
		div.prev{
			left: 30px;
		}

		&:not(.visible) *{
			width: 0 !important;
			height: 0 !important;
		}
		&.visible{
			background-color: rgba(0, 0, 0, .86);
			display: block;
			width: 100vw;
			height: 100vh;
		}
		.gallery-item{
			transition: all .5s;
			position: fixed;
			width: 100vw;
			height: 100vh;
			top: -100vh;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0;
			&.current{
				opacity: 1;
				top: 0;
			}
			img{
				max-width: 90vw;
				max-height: 90vh;
			}
		}
	}
}