[is=modal--menu-editor] {

	>div{
		max-width: initial!important;
		width: 600px;
		height: calc(70vh);
	}

	textarea {
		height:           100%;
		display: block;
		width: 100%;
		font-family:      "Courier New";
		border:           0;
		padding:          20px;
		resize:           none;
		font-size:        13px;
	}

}