> nav {
	padding: 30px;
	margin: 0;

	li > ul { transition: all .3s;}

	li:not(.open) > ul {
		opacity: 0;
		height: 0;
		overflow: hidden;
	}

	li.open > ul {
		height: auto;
		opacity: 1;
	}

	li.open.menu:before {transform: rotateZ(90deg);}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		ul { padding-left: 10px;}

		li {
			line-height: 28px;
			transition: all .3s;
			font-size: 13px;


			a, span {
				display: block;
				line-height: 28px;
				color: inherit;
				transition: all .3s;
			}

			a:hover, span:hover {
				@extend .menuSecondaryColor;
				padding-left: 10px;
			}

			&.link {
				@extend .menuColor;
			}

			&.page {
				@extend .menuColor;
			}

			&.empty {
				@extend .menuColor;
				opacity: .5;
			}

			&.separator {
				height: 0;
				border-top: 1px solid $menuColor;
				border-color: var(--menu-color);
				//padding: 8px 0 0 0;
				//margin: 8px 0 0 0;
				opacity: .1;
			}


			&.menu {
				@extend .menuColor;

				> span {font-weight: bold;}

				cursor: pointer;
				position: relative;

				&:before {
					content: "\f054";
					@extend .menuSecondaryColor;
					font-family: "Font Awesome 5 Pro";
					font-weight: 300;
					font-size: 10px;
					width: 28px;
					line-height: 28px;
					text-align: center;
					position: absolute;
					left: -25px;
					top:-1px;
					transition: all .3s;
				}
			}
		}
	}
}
